<ion-row class="container-row">
  <ion-col *ngFor="let die of dice" size="2">
    <ion-item (click)="onDiceClicked(die)" class="item" lines="none" [routerLink]="null" >
      <ion-img src="assets/img/d{{ die.face }}.png" class="die-icon"></ion-img>
    </ion-item>
  </ion-col>
</ion-row>
