<ion-header>
  <ion-toolbar>
    <ion-title>dice-roller</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-dice-holder [dice]="selectedDice"></app-dice-holder>
  <div class="dice-toolbar">
    <ion-button class="roll-button" (click)="roll()" expand="block" color="primary">
      Roll!
    </ion-button>
    <app-dice-holder [dice]="diceSet" (diceSelected)="onDiceSelected($event)"></app-dice-holder>
  </div>
</ion-content>
