// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.

//   --ion-color-primary-shade: #3171e0;
$primary-shade: #4c8dff;

.circle {
  min-width: 10vh;
  min-height: 10vh;
  background-color: $primary-shade;
  clip-path: circle(50% at 50% 50%);
}

.square {
  min-width: 10vh;
  min-height: 10vh;
  background-color: $primary-shade;
}

.triangle {
  min-width: 10vh;
  min-height: 10vh;
  background-color: $primary-shade;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.diamond-narrow {
  min-width: 10vh;
  min-height: 10vh;
  background-color: $primary-shade;
  clip-path: polygon(50% 0%, 80% 50%, 50% 100%, 20% 50%);
}

.diamond-shield {
  min-width: 10vh;
  min-height: 10vh;
  background-color: $primary-shade;
  clip-path: polygon(50% 20%, 80% 50%, 50% 100%, 20% 50%);
}

.pentagon {
  min-width: 10vh;
  min-height: 10vh;
  background-color: $primary-shade;
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

.hexagon {
  min-width: 10vh;
  min-height: 10vh;
  background-color: $primary-shade;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.octagon {
  min-width: 10vh;
  min-height: 10vh;
  background-color: $primary-shade;
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.decagon {
  min-width: 10vh;
  min-height: 10vh;
  background-color: $primary-shade;
  clip-path: polygon(
    50% 0%,
    80% 10%,
    100% 35%,
    100% 70%,
    80% 90%,
    50% 100%,
    20% 90%,
    0% 70%,
    0% 35%,
    20% 10%
  );
}
