<ion-header>
  <ion-toolbar>
    <ion-title>
      Dungeon World
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">Wave hands like a muppet!</div>
  <a [routerLink]="['/dice-roller']"> Dice Roller </a>
</ion-content>
